In [8]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv('open_pubs1.csv')
df.head()

,fsa_id,name,address,postcode,easting,northing,latitude,longitude,local_authority
0,36,Ark Bar Restaurant,"Ark Bar And Restaurant, Cattawade Street, Bran...",CO11 1RH,610194,233329,51.958698,1.057832,Babergh
1,74,Black Boy,"The Lady Elizabeth, 7 Market Hill, SUDBURY, Su...",CO10 2EA,587334,241316,52.038595,0.729915,Babergh
2,97,Brewers Arms,"The Brewers Arms, Bower House Tye, Polstead, C...",CO6 5BZ,598743,240655,52.028694,0.895650,Babergh
3,102,Bristol Arms,"Bristol Hill, Shotley, IPSWICH",IP9 1PU,624624,233550,51.955042,1.267642,Babergh
4,122,Caffeine Lounge,"14 Borehamgate Shopping Precinct, King Street,...",CO10 2ED,587527,241247,52.037903,0.732687,Babergh

In [9]:
df.replace('<NA>',np.NaN, inplace=True)

In [10]:
df.shape

(50563, 9)

In [12]:
df.dropna(inplace=True)

In [13]:
df.shape

(50563, 9)

In [14]:
df['longitude'].mode()

0   -0.655576
dtype: float64